<div style="margin-left: 20px;" class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#typography">Skapa layout</a></li>
      <li><a href="#code">Dina layouter</a></li>
      <li><a href="#tables">....</a></li>
      <li><a href="#forms">...</a></li>
      <li><a href="#buttons">...</a></li>
    </ul>
  </div>
<div style="width: 819px;" class="alert alert-info span10">
<p>
  Detta är din huvudsida, här ser du ett huvudflöde vad som hänt sen du senast loggade in.  
</p>
</div>

<div class="span3">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li class="nav-header">List header</li>
      <li class="active"><a href="#"><i class="icon-white icon-home"></i> Dashboard</a></li>
      <li><a href="#"><i class="icon-cog"></i> Verktyg</a></li>
      <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
      <li class="nav-header">Another list header</li>
      <li><a href="#"><i class="icon-user"></i> Konto</a></li>
      <li><a href="#"><i class="icon-cog"></i> Inställnngar</a></li>
      <li><a href="#"><i class="icon-flag"></i> Hjälp</a></li>
      <li><%= link_to('Logga ut', destroy_user_session_path, "data-toggle" => "true") %></li>
    </ul>
  </div>
</div>
<div id="right_col" class="well span8">
  <h2>Layouter</h2>
 
</div>