<div class="span3">
  <div class="well" id="menu" style="padding: 8px 0;">
    <ul id="sortable" class="nav nav-list">
      <li class="nav-header">Sidträd</li>
     
     	<% @pageTree.each do |page| %>
      <ol class="trees">
      <li class="sortable" id=<%= page.sortable %>>
        <i class="icon-file"></i>
        <%= link_to content_tag("span", page.name, style: "min-width: 200px;"),page_path(page), id: "#{page.id}", "data-id" =>  "#{page.id}",  class: "label label-info" %>
      </li>
     		</ol>
     	<% end %>
	 
      <li class="nav-header">Another list header</li>
      <li><a href="#"><i class="icon-user"></i> Konto</a></li>
      <li><a href="#"><i class="icon-cog"></i> Inställnngar</a></li>
      <li><a href="#"><i class="icon-flag"></i> Hjälp</a></li>
      <li><%= fetch_sign_out_link %></li>
    </ul>
  </div>
</div>