// Place all the styles related to the system controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#right_col
{
	padding: 5px;
	min-height: 233px;
}
h2
{
	font: 30px "Gill Sans", "Gill Sans MT";
	padding: 5px;
	color: #636363;
	text-shadow: 0px 1px 1px #000000;
	border-bottom: 1px dashed #BACDD6;
	text-transform: uppercase;
}
.data-display
{
	margin-left: 5px;
	margin-top: 5px;
}
