<div style="width: 819px;" class="alert alert-info span10">
<p>
  Detta är din huvudsida, här ser du ett huvudflöde vad som hänt sen du senast loggade in.  
</p>
</div>
<div class="span3">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li class="nav-header">List header</li>
      <li class="active"><a href="#"><i class="icon-white icon-home"></i> Dashboard</a></li>
      <li><a href="#"><i class="icon-cog"></i> Verktyg</a></li>
      <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
      <li class="nav-header">Another list header</li>
      <li><a href="#"><i class="icon-user"></i> Konto</a></li>
      <li><a href="#"><i class="icon-cog"></i> Inställnngar</a></li>
      <li><a href="#"><i class="icon-flag"></i> Hjälp</a></li>
      <li><%= fetch_sign_out_link %></li>
    </ul>
  </div>
</div>
<div id="right_col" class="well span8">
  <h2>Dashboard</h2>
  <div class="span3 data-display">
    <p class="bold">Senaste inlaggda sidor</p>
    <%= @client_ip %>
  </div>
   <div class="span3 data-display">
    <p class="bold">Senaste inloggningar</p>
    <p>
      <%= @dashoard.fetch_last_sign_in(current_user) %>
    </p>
  </div>
</div>

