<div style="width: 819px;" class="alert alert-info span10">
	<b>Allämn information om denna sidan</b>
	<ul>
		<li>Ändra sidinställningar</li>
		<li>Skapa nya sidor</li>
	</ul>
</div>
<div class="span3">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li class="nav-header">Sidträ</li>
     <ol class="trees">
     	<% @pageTree.each do |pt| %>
     		<li class="file">
     			<%= link_to "#{pt.name}", "/pages/#{pt.id}", :class => "getinfo icon-file", "data-id" =>  "#{pt.id}", :remote => false %>
     		</li>
     	<% end %>
	 <!--    
	  <li>
	        <label for="subfolder1">Subfolder 1</label>
	        <input type="checkbox" id="subfolder1" />
	        <ol>
	            <li class="file"><a href="">File 2</a></li>
	            <li class="file"><a href="">File 2</a></li>
	            <li class="file"><a href="">File 2</a></li>
	        </ol>
	    </li>  -->
	 </ol>
      <li class="nav-header">Another list header</li>
      <li><a href="#"><i class="icon-user"></i> Konto</a></li>
      <li><a href="#"><i class="icon-cog"></i> Inställnngar</a></li>
      <li><a href="#"><i class="icon-flag"></i> Hjälp</a></li>
      <li><%= fetch_sign_out_link %></li>
    </ul>
  </div>
</div>
<div style="margin-left: 530px; margin-bottom: 3px;" class="span2">
  <%= link_to "Skapa en ny sida", "#", :class => "btn btn-success create-page" %>
</div>
<div id="right_col" class="well span8">
  <div class="span8 data-display">
    <% @p_settings.each do |ps| %>
    <div style="width: 555px;" class="alert alert-warning">
      Tryck på önskad inställning för att aktivera eller inaktivera en inställning.
    </div>
    <div class="control-group">
      <label class="control-label" for="focusedInput">Sidnamn</label>
      <div class="controls">
      <input id="focusedInput" class="input-xlarge focused" type="text" placeholder=" <%= "#{ps.name}" %>"> 
      <p><a href="#" class="btn">Ändra</a></p>
      </div>
    </div>
   

        
          <p>
          <p>Allmäna inställningar</p>
          <a class="btn btn-info btn-small" data-toggle="button" href="#">
            <i class="icon-cog icon-white"></i>
                Publicerad
          </a>
          <a class="btn btn-info btn-small" data-toggle="button" href="#">
            <i class="icon-cog icon-white"></i>
                Editerbar
          </a>
        </p>
        <p>
           <p>Modul inställningar</p>
            <a class="btn btn-warning btn-small" data-toggle="button" href="#">
            <i class="icon-cog icon-white"></i>
                Lösenordsskyddad
          </a>
           <a class="btn btn-warning btn-small" data-toggle="button" href="#">
            <i class="icon-cog icon-white"></i>
                Nyheter
          </a>
          <a class="btn btn-warning btn-small" data-toggle="button" href="#">
            <i class="icon-cog icon-white"></i>
                Bildgalleri
          </a>
          </p>
    <% end %>
  
</div>
  
</div>

